 
<form method="post" action="/resultado">
    <input id="nombre" type="text" name="nombre">
    </br>
    <label>Gender</label>
    </br>
    <label>
     	<input type="radio" value="f" name="gender"> Female</label>
    </br>
    <label>
    	<input value="m" type="radio" name="gender"> Male</label>
    <input type="submit" value="Save" >
</form>